@charset "utf-8";

/* common */

html {
  font-size: 62.5%;
}
body {
  font-family: "Helvetica Neue", "Helvetica", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif;
  font-size: 1.4em;
  line-height: 1.8;
  letter-spacing: .05em;
  color: #333;
}
img {
max-width: 100%;
}

/* form-area */

.form-area {
	width: 100%;
  max-width: 1000px;
  margin: 60px auto;
  padding: 0 40px;
}
.form-area-title {
  text-align: center;
  font-weight: bold;
	letter-spacing: 2px;
  margin: 10px 0;
}
.form-area-list {
  border-top: solid 1px #333;
  margin-bottom: 20px;
}
.form-area-list-item {
  display: flex;
  border-bottom: solid 1px #333;
}
.form-area-list-item dt {
  width: 17em;
  display: flex;
  align-items: center;
  background-color: #ddd;
  padding: 2em 1.5em;
  font-weight: bold;
}
.form-area-list-item dd {
  display: flex;
  align-items: center;
  padding: 1em;
  width: 100%;
}
.radio-label {
  margin-right: 1.5em;
}
input[type="text"], textarea {
  border: solid 1px #333;
  width: 100%;
  display: inline-block;
  padding: 5px;
}
input[type="text"] {
  min-height: 2em;
}
textarea {
  height: 10em;
}
.form-area-notice {
  text-align: center;
  margin-bottom: 40px;
}
.form-area-submit {
  text-align: center;
  margin-bottom: 60px;
}
.form-area-submit-btn {
  color: #fff;
  background-color: #F7931E;
  border: none;
  padding: .5em 3em .5em 4em;
  letter-spacing: 1em;
  font-weight: bold;
  font-size: 1.5rem;
  cursor: pointer;
}
.form-area-submit-btn:disabled {
  background-color: #aaa;
  cursor: default;
}
.thanks-message {
  margin: 40px 0;
}
.thanks-to-top {
  margin-top: 40px;
  text-align: center;
}
.thanks-to-top-btn {
  color: #fff;
  background-color: #333;
  border: none;
  padding: .5em 3em;
  font-weight: bold;
}